ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    li {
        display: flex;
        gap: 1rem;
    }
}

.status {
    display: flex;
    gap: 0.5rem;
    span {
        cursor: pointer;
    }
}

.check-active {
    color: green;
    text-decoration: line-through;
}